.workflow#workflow
  .workflow__inner
    h3.heading Workflow
    .workflow-tabs
      .tabs
        button(
          id='defaultOpen'
          class='tablinks active' 
          onclick='openTab(event, \'Preview\')'
        ) Preview
        button(
          class='tablinks' 
          onclick='openTab(event, \'Shipping\')'
        ) Shipping
        button(
          class='tablinks' 
          onclick='openTab(event, \'Payment\')'
        ) Payment
        button(
          class='tablinks' 
          onclick='openTab(event, \'Complete\')'
        ) Complete
      - 
        var tabs = {
          //- tab Preview
          'Preview': 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.',
          //- tab Shipping
          'Shipping': 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.',
          //- tab Payment
          'Payment': 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.',
          //- tab Complete
          'Complete': 'Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. '
        }
      each val, index in tabs
        .workflow-tabs__item(
          class='tabcontent workflow-tabs__item--'+ index.toLowerCase()
          id= index
        )
          //- span= index
          b Lorem ipsum is simply
          p= val
          
